@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Roboto:wght@100;300;400;500;700;900&display=swap");
:root {
  --primary-color: #000080;
  --primary-dark: #1F252E;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  font-family: 'Outfit', sans-serif;
  background: #1F252E;
  color: #ffffff; 
}

.container {
  padding: 0 8.4rem;
}

.img-w {
  width: 100%;
  height: auto;
}

/* Navbar*/
header {
  box-shadow: 0 4px 17px rgb(80 80 80 / 31%);
  background: #1F252E;
  position: sticky;
  top: 0;
  z-index: 1;
}


.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 90%;
  padding: 1rem 0;
}

.logo {
  font-size: 1.5rem;
  font-weight: 800;
  opacity: 0;
  animation: leftSideAni 1s ease forwards;
}

.logo img {
  height: 56px;
  width: 56px;
  object-fit: contain;
}

ul {
  display: flex;
  gap: .6rem;
  list-style-type: none;
  background-color: transparent;
  overflow: hidden;
}

li a {
  display: inline-block;
  padding: .3rem 1rem;
  color: #fff;
  text-decoration: none;
  font-size: 1.05rem;
  font-weight: 600;
  letter-spacing: .7px;
  border-radius: 36px;
  line-height: 2;
  transition: .3s;
  opacity: 0;
  animation: navani .3s ease forwards;
  animation-delay: calc(.15s * var(--navAni));
}

li a.active,
li a:hover {
  color: #000080;
}

#click {
  display: none;
}

.menu {
  display: none;
}

.mode i {
  font-size: 1.4rem;
  cursor: pointer;
  color: #000080;
  opacity: 0;
  animation: rightSideAni 1.5s ease forwards;
}

/* Nav End */

/* Section 1*/
.main {
  padding: 6rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  row-gap: 2rem;
  column-gap: 6rem;
  align-items: center;
}

.main h3 {
  color: #fff;
  font-size: 1.5rem;
  opacity: 0;
  animation: topSideAni 1s ease forwards;
}

.main h1 {
  color: #fff;
  font-size: 4rem;
  font-weight: 600;
  opacity: 0;
  animation: leftSideAni 1s ease forwards;
  animation-delay: 1s;
}

.social {
  display: flex;
  flex-wrap: wrap;
  gap: 1.4rem;
  margin-top: 1.4rem;
}

.social a {
  display: grid;
  place-items: center;
  text-decoration: none;
  color: #000080;
  border: 1.6px solid #000080;
  font-size: 1.5rem;
  border-radius: 50%;
  padding: 0.39rem;
  text-align: center;
  opacity: 0;
  animation: SocialAni 1s ease forwards;
  animation-delay: calc(.2s * var(--socialAni));
}

.social a:hover {
  color: #000080;
  background-color: #000080;
  box-shadow: 0 0 20px #000080;
  transition: all .3s ease-in-out;
}


.images {
  border-radius: 10px;
  width: 450px;
}
.images {
  background: linear-gradient(145deg, #1f252e, #2e3239);
  box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #1b1f27;
  border-top: 2px solid #000080;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  margin: auto;
  overflow: hidden;
}
/* Section 1 End */

/*Section 2 */
.about {
  min-height: 50vh;
  width: 100vw;
  padding: 100px;
  margin-bottom: 20px;
}

.about h1 {
  font-size: 56px;
  font-weight: 700;
  color: #fbfbfb;
  font-family: "Libre Baskerville", serif;
}

.about .description {
  display: flex;
  align-items: start;
  flex-direction: column;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.about .description .line {
  height: 2.5px;
  width: 400px;
  background-color: #000080;
  margin-bottom: 20px;
}

.about .description p {
  color: #fbfbfb;
  font-size: 20px;

}

.about .description p span {
  color: #000080;
}


/* Section 2 End */

/* Section 3 Start */
.skills {
  /* Remova o display: flex; e outros estilos relacionados */
  text-align: center; /* Centralizar o conteúdo */
  padding: 50px 100px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 50px;
}

.skills h1 {
  font-size: 56px;
  font-weight: 700;
  color: #fbfbfb;
  font-family: "Libre Baskerville", serif;
}

.skill-card {
  height: 200px; /* Ajuste conforme necessário */
  background-color: #3d3e42;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  transition: all ease 0.5s;
}

.skill-card:hover {
  background-color: #000080;
}

.skill-card img {
  height: 80px; /* Ajuste conforme necessário */
  width: 80px; /* Ajuste conforme necessário */
  object-fit: contain;
}

.skill-card h2 {
  font-size: 18px;
  font-weight: 400;
  color: #fbfbfb;
}


.portfolio {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 100px;
}

.portfolio h1 {
  font-size: 56px;
  font-weight: 700;
  color: #fbfbfb;
  font-family: "Libre Baskerville", serif;
}

.portfolio-cards {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-top: 50px;
  gap: 20px;
}

.portfolio-card {
  position: relative;
  height: 30vw;
  width: 30vw;
  background-color: #3d3e42;
  border-radius: 20px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  gap: 2.5vh;
  transition: all ease 0.5s;
}

.portfolio-card img {
  position: relative;
  height: 30vw;
  width: 30vw;
  object-fit: cover;
}

.portfolio-card .overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 2.5vh;
  height: 30vw;
  width: 30vw;
  background-color: #1F252Ea2;
  align-items: center;
  justify-content: center;
  padding: 24px;
  opacity: 0;
  transition: all ease 0.5s;



}

.portfolio-card .overlay h3 {
  color: #fbfbfb;
  font-size: 14px;
}

.portfolio-card .overlay p {
  color: #fbfbfb;
  font-size: 14px;
  text-align: center;
}

.portfolio-card .overlay button {
  height: 36px;
  width: 108px;
  background-color: #000080;
  border: 1px solid #000080;
  border-radius: 8px;
  color: #fbfbfb;
  font-size: 12px;
  transition: all ease 0.5s;
  cursor: pointer;
}

.portfolio-card .overlay:hover {
  opacity: 1;
}

.portfolio button {
  margin-top: 50px;
  height: 48px;
  width: 144px;
  background-color: #000080;
  border: 1px solid #000080;
  border-radius: 8px;
  color: #1F252E;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all ease 0.5s;
}

.portfolio button:hover {
  background-color: #000080;
}

.timeline-section{
min-height: 100vh;
padding: 100px 15px;
}

.timeline-section h1 {
  font-size: 56px;
  font-weight: 700;
  color: #fbfbfb;
  font-family: "Libre Baskerville", serif;
  margin-left: 20px;
}
.timeline-items{
max-width: 1000px;
margin:auto;
display: flex;
flex-wrap: wrap;
position: relative;
}
.timeline-items::before{
content: '';
position: absolute;
width: 2px;
height: 100%;
background-color: #2f363e;
left: calc(50% - 1px);
}
.timeline-item{
margin-bottom: 40px;
width: 100%;
position: relative;
}
.timeline-item:last-child{
margin-bottom: 0;
}
.timeline-item:nth-child(odd){
  padding-right: calc(50% + 30px);
text-align: right;
}
.timeline-item:nth-child(even){
  padding-left: calc(50% + 30px);
}
.timeline-dot{
height: 16px;
width: 16px;
background-color: #000080;
position: absolute;
left: calc(50% - 8px);
border-radius: 50%;
top:10px;
}
.timeline-date{
font-size: 18px;
color: #000080;
margin:6px 0 15px;
}
.timeline-content{
  background-color: #2f363e;
padding: 30px;
border-radius: 5px;
}
.timeline-content h3{
  font-size: 20px;
color: #000080;
margin:0 0 10px;
text-transform: capitalize;
font-weight: 500;
}
.timeline-content p{
  color: #c8c8c8;
font-size: 16px;
font-weight: 300;
line-height: 22px;
}

footer {
  background-color: #000080; /* Cor de fundo azul */
  color: #fbfbfb; /* Cor do texto branco */
  text-align: center;
  padding: 20px;
}

footer p {
  margin: 0; /* Remove a margem padrão do parágrafo */
  font-family: "Libre Baskerville", serif;
  font-size: 16px;
  font-weight: 500;
}


/* Animation */
@keyframes leftSideAni {
  0% {
      transform: translateX(-100px);
      opacity: 0;
  }

  100% {
      transform: translateX(0);
      opacity: 1;
  }
}

@keyframes navani {
  0% {
      transform: translateY(100px);
      opacity: 0;
  }

  100% {
      transform: translateY(0);
      opacity: 1;
  }
}

@keyframes rightSideAni {
  0% {
      transform: translateX(100px);
      opacity: 0;
  }

  100% {
      transform: translateX(0);
      opacity: 1;
  }
}

@keyframes topSideAni {
  0% {
      transform: translateY(-100px);
      opacity: 0;
  }

  100% {
      transform: translateY(0);
      opacity: 1;
  }
}

@keyframes SocialAni {
  0% {
      transform: translateY(100px);
      opacity: 0;
  }

  100% {
      transform: translateY(0);
      opacity: 1;
  }
}
@keyframes imageAni {
  0% {
      opacity: 0;
      transform: scale(0);
  }

  100% {
      opacity: 1;
      transform: scale(1);
  }
}


@media screen and (max-width: 1024px) {
  .container {
      padding: 0 4.4rem;
  }

  .main h3 {
      color: #fff;
      margin-top: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .container {
      padding: 0 1.6rem;
  }

  .portfolio-cards {
      grid-template-columns: 1fr; 
  }

  .portfolio-card .overleaf h3,
  .portfolio-card .overlay p{
      display: none;
  }
 .timeline-items::before{
  left: 7px;
}
.timeline-item:nth-child(odd){
  padding-right: 0;
  text-align: left;
}
.timeline-item:nth-child(odd),
.timeline-item:nth-child(even){
  padding-left: 37px;
}
.timeline-dot{
  left:0;
}
}

@media screen and (max-width:600px) {
  body {
      height: auto;
  }

  header {
      height: auto;
  }

  ul {
      background: #1F252E;
      width: 100%;
      height: 100vh;
      position: absolute;
      display: flex;
      flex-direction: column;
      text-align: center;
      top: 3.4rem;
      left: -100%;
      z-index: 111111;
  }

  .menu {
      display: block;
      font-size: 1.5rem;
      font-weight: bold;
      color: #000080;
  }

  #click:checked~ul {
      left: 0%;
      transition: all 0.3s ease;
  }
  .images {
      width: 100%;
      margin: auto;
  }

  .main {
      margin-top: 2rem;
  }
}