body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: white;
}

.container {
  display: flex;
  height: 100vh;
}

.inicio {
  flex: 1;
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inicio img {
  width: 300px;
  height: auto;
  border-radius: 8px;
}

.infos {
  flex: 2;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.infos h1 {
  font-size: 48px;
  margin: 0;
}

.infos h2 {
  font-size: 24px;
  color: gray;
  margin-top: 10px;
}

.infos p {
  font-size: 18px;
  margin: 10px 0;
}

.social {
  display: flex;
  flex-wrap: wrap;
  gap: 1.4rem;
  margin-top: 1.4rem;
}

.social a {
  display: grid;
  place-items: center;
  text-decoration: none;
  color: gray;
  border: 1.6px solid gray;
  font-size: 1.5rem;
  border-radius: 50%;
  padding: 0.39rem;
  text-align: center;
}

.social a:hover {
  color: #444;
  background-color: gray;
}

.sobre-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  padding: 60px 80px;
  gap: 40px;
}

.sobre p {
  font-size: 18px;
  line-height: 1.6;
  max-width: 90%;
}

.linha {
  width: 60px;
  height: 4px;
  background-color: black;
  margin-bottom: 20px;
  border-radius: 2px;
}


.sobre, .habilidades {
  flex: 1;
  min-width: 300px;
}

.sobre h2, .habilidades h2 {
  font-size: 32px;
  color: gray;
  margin-bottom: 10px;
}

.habilidades ul {
  list-style: none;
  padding-left: 0;
}

.habilidades li {
  font-size: 18px;
  margin-bottom: 12px;
  padding-left: 20px;
  position: relative;
}

.habilidades li::before {
  content: "✔";
  position: absolute;
  left: 0;
  color: black;
}

.container-timeline {
  display: flex;
  flex-wrap: wrap;
  background-color: gray;
  padding: 60px 80px;
  gap: 40px;
}

.formacao, .experiencia {
  flex: 1;
  min-width: 300px;
}

.formacao h2, .experiencia h2 {
  font-size: 32px;
  color: black;
  margin-bottom: 10px;
}

.item-timeline {
  margin-bottom: 30px;
}

.data {
  font-weight: bold;
  color: black;
  font-size: 16px;
}

.item-timeline h3 {
  margin: 5px 0;
  font-size: 20px;
  color: #333;
}

.item-timeline p {
  margin: 0;
  font-size: 16px;
  color: #444;
}

footer {
  background-color: #444; 
  color: white; 
  text-align: center;
  padding: 20px;
}

footer p {
  margin: 0; 
  font-family: "Libre Baskerville", serif;
  font-size: 16px;
  font-weight: 500;
}

@media (max-width: 768px) {
  .container,
  .sobre-container,
  .container-timeline {
    flex-direction: column;
    padding: 40px 20px;
  }

  .inicio img {
    width: 100%;
    max-width: 250px;
  }

  .inicio{
      background-color: #F4DECB;
  }

  .infos,
  .sobre,
  .habilidades,
  .formacao,
  .experiencia {
    padding: 20px 0;
  }

  .infos h1 {
    font-size: 32px;
  }

  .infos h2 {
    font-size: 20px;
  }

  .sobre h2,
  .habilidades h2,
  .formacao h2,
  .experiencia h2 {
    font-size: 28px;
  }

  .container {
    height: auto; 
  }
}
